#header, h3, h1, p, li, label, h5, pre, .addendum{
	color: #FEFEFE;
	font-family: Arial;
}
#covidbanner{
  border: 5px solid #FEFEFE;
}
#exclamation{
  font-size:36px;
  color:#FFA500;
  float:center;
}
input[type=range] {
  border-radius: 30%;
  -webkit-appearance: none;
  width: 50px;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type=range]:hover {
  opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #708DFF;
  cursor: pointer;
  border-radius: 50%;
}

input[type=range]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
}
button {
	border-radius: 10px;
	background-color: #708DFF;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
button:hover{
	 background-color: #008CBA;
}
input{
	border-radius: 25px;
}
body {
	background-color: #070707;
}
#header{
	background-color: #FEFEFE;
}